<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      </head>

<body>
    <a class="add_question" href="{% url 'polls:choice_add' %}">Dodaj nowy wybór</a>
    
<div>
    <table class="styled-table">
    <tr>
        <th>question_id</th>
        <th>choice</th>
        <th>question_text</th>
        <th>pub_date</th>
        <th>votes</th>
    </tr>   
   {% for choice in choices %}
        <tr class="active-row">
            <td>{{ choice.id }}</td>
            <td>{{ choice.choice_text }}</td>
            <td>{{ choice.question }}</td>
            <td>{{ choice.pub_date }}</td>
            <td>{{ choice.votes }}</td>
        </tr>
    {% endfor %}
    </table>
     
       

</div>
</body>
</html>